<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Msg Board | <%= title %></title>
  </head>
  <body>
    <% messages.forEach(msg => { %>
    <div id="card">
      <div><%= msg.text %></div>
      <div><%= msg.user %></div>
      <div><%= msg.added %></div>
    </div>
    <% }) %>
    <a href="/new">Add a new message</a>
  </body>
</html>
